<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-model radio Demo</title>
</head>
<body>
<!--多个radio单选-->
    <div id="app">
        <input type="radio" v-model="picked" value="html" id="html">
        <label for="html">HTML</label>
        <input type="radio" v-model="picked" value="js" id="js">
        <label for="js">JavaScript</label>
        <input type="radio" v-model="picked" value="css" id="css">
        <label for="css">CSS</label>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                picked: 'js' //picked的值与value的值一致时，就会选中该项，所以启动后默认选中第二项
            }
        })
    </script>
</body>
</html>