<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for Demo</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="book in books">{{ book.name }} - {{ book.author }}</li>
        </ul>
        <ul>
            <li v-for="(book, index) in books">{{ index }} - {{ book.name }} - {{ book.author }}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                books: [
                    {name: 'JavaScript', author: 'xzli'},
                    {name: 'SpringCloud', author: 'ThorinGondor'},
                    {name: 'Vue.js', author: '云海辕门'}
                ]
            }
        });
        /***
         *  列表渲染指令 v-for 它的表达式需要结合 in 来使用， 形如：item in items
         *  v-for 表达式还支持一个可选参数作为当前项的索引 index
         */
    </script>
</body>
</html>